In [1]:
import pyspark
from pyspark import SparkConf, SparkContext

In [2]:
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder.appName("Sale Analysis").getOrCreate()

In [13]:
import pandas as pd

In [15]:
# pd.read_csv('sales_data_sample.csv', encoding= 'unicode_escape')
# df_pyspark = spark.read.csv('sales_data_sample.csv')

In [18]:
df_pyspark = spark.read.option('header','true').csv('sales_data_sample.csv')

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.printSchema()

root
 |-- ORDERNUMBER: string (nullable = true)
 |-- QUANTITYORDERED: string (nullable = true)
 |-- PRICEEACH: string (nullable = true)
 |-- ORDERLINENUMBER: string (nullable = true)
 |-- SALES: string (nullable = true)
 |-- ORDERDATE: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- QTR_ID: string (nullable = true)
 |-- MONTH_ID: string (nullable = true)
 |-- YEAR_ID: string (nullable = true)
 |-- PRODUCTLINE: string (nullable = true)
 |-- MSRP: string (nullable = true)
 |-- PRODUCTCODE: string (nullable = true)
 |-- CUSTOMERNAME: string (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- ADDRESSLINE1: string (nullable = true)
 |-- ADDRESSLINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- POSTALCODE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- TERRITORY: string (nullable = true)
 |-- CONTACTLASTNAME: string (nullable = true)
 |-- CONTACTFIRSTNAME: string (nullable = true)
 |-- DEALSIZE: string (nullable = true)

In [38]:
# df2=df_pyspark.select(['ORDERNUMBER','MONTH_ID'])
# df2.withColumn('MONTH',df2['MONTH_ID']+2)

In [39]:
df_pyspark.na.fill("Missing Values").show()

+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+--------------+-------------+--------------+--------------+---------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|  ADDRESSLINE2|         CITY|         STATE|    POSTALCODE|  COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+--------------+-------------+--------------+--------------+---------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2|   2871| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|Missing Values|          NYC|            NY|         10022|      USA|       NA|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|Missing Values|        Reims|Missing Values|         51100|   France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|Missing Values|        Paris|Missing Values|         75508|   France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|Missing Values|     Pasadena|            CA|         90003|      USA|       NA|          Young|           Julie|  Medium|
|      10159|             49|      100|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|Missing Values|San Francisco|            CA|Missing Values|      USA|       NA|          Brown|           Julie|  Medium|
|      10168|             36|    96.66|              1|3479.76|10/28/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Technics Stores Inc.|      6505556809|   9408 Furth Circle|Missing Values|   Burlingame|            CA|         94217|      USA|       NA|         Hirano|            Juri|  Medium|
|      10180|             29|    86.13|              9|2497.77|11/11/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|Daedalus Designs ...|      20.16.1555|184, chausse de T...|Missing Values|        Lille|Missing Values|         59000|   France|     EMEA|          Rance|         Martine|   Small|
|      10188|             48|      100|              1|5512.32|11/18/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|        Herkku Gifts|   +47 2267 3215|Drammen 121, PR 7...|Missing Values|       Bergen|Missing Values|        N 5804|   Norway|     EMEA|         Oeztan|          Veysel|  Medium|
|      10201|             22|    98.57|              2|2168.54| 12/1/2003 0:00|Shipped|     4|      12|   2003|Motorcycles|  95|   S10_1678|     Mini Wheels Co.|      6505555787|5557 North Pendal...|Missing Values|San Francisco|            CA|Missing Values|      USA|       NA|         Murphy|           Julie|   Small|
|      10211|             41|      100|             14|4708.44| 1/15/2004 0:00|Shipped|     1|       1|   2004|Motorcycles|  95|   S10_1678|    Auto Canal Petit|  (1) 47.55.6555|   25, rue Lauriston|Missing Values|        Paris|Missing Values|         75016|   France|     EMEA|        Perrier|       Dominique|  Medium|
|      10223|             37|      100|              1|3965.66| 2/20/2004 0:00|Shipped|     1|       2|   2004|Motorcycles|  95|   S10_1678|Australian Collec...|    03 9520 4555|   636 St Kilda Road|       Level 3|    Melbourne|      Victoria|          3004|Australia|     APAC|       Ferguson|           Peter|  Medium|
|      10237|             23|      100|              7|2333.12|  4/5/2004 0:00|Shipped|     2|       4|   2004|Motorcycles|  95|   S10_1678|     Vitachrome Inc.|      2125551500|   2678 Kingston Rd.|     Suite 101|          NYC|            NY|         10022|      USA|       NA|          Frick|         Michael|   Small|
|      10251|             28|      100|              2|3188.64| 5/18/2004 0:00|Shipped|     2|       5|   2004|Motorcycles|  95|   S10_1678|Tekni Collectable...|      2015559350|       7476 Moss Rd.|Missing Values|       Newark|            NJ|         94019|      USA|       NA|          Brown|         William|  Medium|
|      10263|             34|      100|              2|3676.76| 6/28/2004 0:00|Shipped|     2|       6|   2004|Motorcycles|  95|   S10_1678|     Gift Depot Inc.|      2035552570| 25593 South Bay Ln.|Missing Values|  Bridgewater|            CT|         97562|      USA|       NA|           King|           Julie|  Medium|
|      10275|             45|    92.83|              1|4177.35| 7/23/2004 0:00|Shipped|     3|       7|   2004|Motorcycles|  95|   S10_1678|   La Rochelle Gifts|      40.67.8555|67, rue des Cinqu...|Missing Values|       Nantes|Missing Values|         44000|   France|     EMEA|        Labrune|          Janine|  Medium|
|      10285|             36|      100|              6|4099.68| 8/27/2004 0:00|Shipped|     3|       8|   2004|Motorcycles|  95|   S10_1678|Marta's Replicas Co.|      6175558555| 39323 Spinnaker Dr.|Missing Values|    Cambridge|            MA|         51247|      USA|       NA|      Hernandez|           Marta|  Medium|
|      10299|             23|      100|              9|2597.39| 9/30/2004 0:00|Shipped|     3|       9|   2004|Motorcycles|  95|   S10_1678|Toys of Finland, Co.|     90-224 8555|       Keskuskatu 45|Missing Values|     Helsinki|Missing Values|         21240|  Finland|     EMEA|      Karttunen|           Matti|   Small|
|      10309|             41|      100|              5|4394.38|10/15/2004 0:00|Shipped|     4|      10|   2004|Motorcycles|  95|   S10_1678|  Baane Mini Imports|      07-98 9555|Erling Skakkes ga...|Missing Values|      Stavern|Missing Values|          4110|   Norway|     EMEA|     Bergulfsen|           Jonas|  Medium|
|      10318|             46|    94.74|              1|4358.04| 11/2/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|Diecast Classics ...|      2155551555|    7586 Pompton St.|Missing Values|    Allentown|            PA|         70267|      USA|       NA|             Yu|           Kyung|  Medium|
|      10329|             42|      100|              1|4396.14|11/15/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|Missing Values|          NYC|            NY|         10022|      USA|       NA|             Yu|            Kwai|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+--------------+-------------+--------------+--------------+---------+---------+---------------+----------------+--------+
only showing top 20 rows